@use '../root' as *;
@use '../utilities' as *;

.blog-details {
    @include breakpoint(max-xl2) {
        margin: 0;
        padding: 120px 30px;
    }

    @include breakpoint(max-lg) {
        padding: 80px 30px;
    }

    @include breakpoint(max-xs) {
        padding: 70px 10px;
    }
    @include breakpoint(max-xxsmall) {
        padding: 70px 0px;
    }

    &-content {
        padding-right: 5px;
        @include breakpoint(max-lg) {
           margin-bottom: 30px;
        }

        &__thumb {
            border-radius: 10px;

            img {
                width: 100%;
                border-radius: 10px;
            }
        }

        &__meta {
            ul {
                display: flex;
                align-items: center;
                gap: 30px;
                border-bottom: 1px solid rgba(16, 16, 16, 0.15);
                padding: 30px 0;
                @include breakpoint(max-xs) {
                    gap: 10px;
                }

                @include breakpoint(max-xxsmall) {
                    gap: 10px;
                    flex-wrap: wrap;
                  }

                li {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;

                    i {
                        color: $green-color;
                    }
                }
            }
        }

        &__title {
            color: $title-color;
            font-family: $body-font;
            font-size: 43px;
            font-style: normal;
            font-weight: 700;
            line-height: 52px;
            padding: 30px 0;
            @include breakpoint(max-md) {
                font-size: 36px;
                line-height: 42px;
                padding: 20px 0;
            }

            @include breakpoint(max-xs) {
                font-size: 30px;
                line-height: 40px;
                padding: 16px 0;
            }

            @include breakpoint(max-xxsmall) {
               font-size: 25px;
               line-height: 34px;
              }
        }

        &__text {
            color: $text-color;
            font-family: $body-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            padding-bottom: 24px;
            @include breakpoint(max-md) {
               padding-bottom: 16px;
            }
        }

        &-testimonial {
            padding-left: 31px;
            position: relative;
            margin: 34px 0 60px 0;
            @include breakpoint(max-md) {
                margin: 16px 0 40px 0;
            }

            @include breakpoint(max-xxsmall) {
                padding-left: 14px;
              }

            &::before {
                position: absolute;
                left: 0;
                top: 0;
                width: 1px;
                height: 100%;
                content: "";
                background-color: $title-color;
            }

            &__quote {}

            &__text {
                color: $title-color;
                font-family: $body-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
                padding: 30px 0;
                @include breakpoint(max-md) {
                    padding: 20px 0;
                }

                @include breakpoint(max-xs) {
                    font-size: 18px;
                    line-height: 24px;
                }
               
            }

            &__auth {
                color: $title-color;
                font-family: $body-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px;
                position: relative;
                display: inline-block;

                &::after {
                    position: absolute;
                    right: -75px;
                    top: 50%;
                    height: 2px;
                    width: 55px;
                    transform: translateY(-50%);
                    content: "";
                    background-color: $title-color;
                }
            }
        }

        &__list {
            ul {
                li {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 28px;
                    margin-bottom: 20px;
                    position: relative;
                    padding-left: 16px;
                    @include breakpoint(max-md) {
                        margin-bottom: 10px;
                    }

                    @include breakpoint(max-xs) {
                        font-size: 16px;
                        font-weight: 400;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &::before {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        height: 8px;
                        width: 8px;
                        border-radius: 50%;
                        content: "";
                        background-color: $green-color;
                    }
                }
            }
        }

        &-link-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            padding: 28px 0;
            margin: 34px 0 60px 0;
            @include breakpoint(max-md) {
               margin: 20px 0 40px 0;
               flex-wrap: wrap;
               gap: 16px;
            }
        }

        &__tag {
            display: flex;
            gap: 30px;
            align-items: center;
            @include breakpoint(max-xxsmall) {
                gap: 20px;
              }

            &-title {
                color: $title-color;
                font-family: $body-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
            }

            ul {
                display: flex;
                gap: 14px;
                @include breakpoint(max-xxsmall) {
                    gap: 10px;
                    flex-wrap: wrap;
                  }

                li {
                    a {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $bg-color;
                        padding: 8px 18px;
                        border-radius: 5px;
                        color: $title-color;
                        font-family: $body-font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px;
                        @include breakpoint(max-xxsmall) {
                           margin-bottom: 10px;
                          }

                        &:hover {
                            background-color: $theme-color;
                        }
                    }
                }
            }
        }

        &__social {
            display: flex;
            align-items: center;
            gap: 30px;

            &-title {
                color: $title-color;
                font-family: $body-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
            }

            ul {
                display: flex;
                gap: 14px;

                li {
                    a {
                        background-color: $bg-color;
                        height: 35px;
                        width: 35px;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 50%;
                        color: $title-color;
                        font-family: $body-font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            background-color: $theme-color;
                        }
                    }
                }
            }
        }

        &__form {
            position: relative;
            border-radius: 15px;
            background: $bg-color;
            padding: 60px;
            margin-left: -10px;
            z-index: 1;

            @include breakpoint(max-sm) {
                padding: 30px 20px;
            }

            &-title {
                color: $title-color;
                font-family: $body-font;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 46px;
                padding-bottom: 30px;

                @include breakpoint(max-xxsmall) {
                    font-size: 30px;
                    line-height: 30px;
                }
            }

            .form-clt {

                input,
                textarea {
                    border: none;
                    color: $text-color;
                    padding: 13px 20px;
                    width: 100%;
                    border-radius: 10px;
                    background: $bg-color;
                    margin-bottom: 20px;
                    height: 56px;
                    border: 1px solid #E2E2E2;
                    background-color: $white;


                    &::placeholder {
                        color: $title-font;
                        font-family: $body-font;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                    }
                }

                textarea {
                    height: 150px;
                    border-radius: 15px;
                    margin-bottom: 17px;

                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }
            }

        }
    }
}