@use '../root' as *;
@use '../utilities' as *;


.blog1 {
    position: relative;
    z-index: 9;

    .swiper-arrow {
        display: flex;
        justify-content: end;
        gap: 20px;

        @include breakpoint(max-md) {
            display: none;
        }

        .swiper-nav {
            width: 100px;
            height: 56px;
            border-radius: 90px;
            line-height: 1px;
            background-color: $green-color;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.4s all ease-in-out;

            .svg-img {
                transition: 0.4s all ease-in-out;
                height: 16px;
            }

            &:hover {
                background-color: $theme-color;
                color: $title-color;

                .svg-img {
                    filter: brightness(0) saturate(100%);

                }
            }
        }
    }

    &-bg {
        background-color: $bg-color;
        border-radius: 15px;
        padding: 120px 0;
        max-width: 1860px;
        margin: 0 auto;

        @include breakpoint(max-md) {
            padding: 80px 0;
        }
    }

    &-card {
        background-color: $white;
        border-radius: 15px;
        padding: 30px;

        @include breakpoint(max-xxxl) {
            padding: 30px 24px;
        }

        @include breakpoint(max-lg) {
        padding: 24px 15px;
        }

        &__thumb {
            position: relative;
            border-radius: 15px;
            z-index: 3;

            img {
                width: 100%;
            }

            &-date { 
                color: $green-color;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                position: absolute;
                z-index: 5;
                right: 45px;
                bottom: 6px;

                @include breakpoint(max-xxxl) {
                    right: 35px;
                }

                @include breakpoint(max-xl) {
                    right: 60px;
                }

                @include breakpoint(max-lg) {
                    right: 33px;
                }

                @include breakpoint(max-md) {
                    right: 82px;
                }

                @include breakpoint(max-sm) {
                    right: 13%;
                }
                
                @include breakpoint(max-xxsmall) { 
                    padding-top: 20px;
                    right: 10%;
                    bottom: 1%;
                    font-size: 14px;
                }
            }
        }



        &__content {
            padding-top: 30px;
            @include breakpoint(max-xxsmall) {
                padding-top: 16px;
            }

            &__title {
                &-link {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 36px;

                    @include breakpoint(max-lg) {
                        font-size: 22px !important;
                    }

                }
            }

        }

        &__meta {
            display: flex;
            align-items: center;
            gap: 30px;
            padding-bottom: 15px;

            &-text {
                color: $title-color;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                padding-left: 18px;
                position: relative;

                &::before {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    content: "";
                    background-color: $title-color;
                }
            }
        }


        &__description {
            padding-top: 18px;
            color: $text-color;
            font-family: $body-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            @include breakpoint(max-xxsmall) {
                padding-top: 8px;
            }
        }

        &__btn {
            height: 52px;
            width: 52px;
            border-radius: 50%;
            background-color: $green-color;
            display: inline-block;
            line-height: 52px;
            text-align: center;
            font-size: 24px;
            color: $white;
            margin-top: 30px;
            @include breakpoint(max-xxsmall) {
                margin-top: 20px;
            }

            &:hover {
                background-color: $theme-color;
                color: $title-color;
            }
        }
    }

    &::after {
        position: absolute;
        left: 0;
        top: 0px;
        height: 150px;
        width: 1587px;
        content: "";
        background-color: $theme-color;
        z-index: -1;
    }
}