@use '../root' as *;
@use '../utilities' as *;

.contact2 {
    position: relative;
    &::after{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 83%;
        content: "";
        background-color: $theme-color;
        border-radius: 15px 15px 0 0;
        z-index: -1;
        @include breakpoint(max-md) {
           display: none;
       }
    }
    .container-fluid {
        max-width: 1770px;
        margin: 0 auto;

    }

    .container-1320 {
        @include breakpoint(max-xxsmall) {
            padding: 0;
        }
    }

    &-card {
        background-color: $green-color;
        border-radius: 15px;
        position: relative;
        @include breakpoint(max-sm) {
            background-color: transparent;  
       }


        &__form {
            background-color: $theme-color;
            padding: 60px;
            margin-top: 120px;
            border-radius: 15px 15px 0 0;
            position: relative;
            z-index: 3;
            @include breakpoint(max-sm) {
               padding: 30px;
               margin-top: 0;
           }

           @include breakpoint(max-xxsmall) {
            padding: 30px 20px;
         }

            &-title {
                color: $title-color;
                font-family: $body-font;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 46px;
                padding-bottom: 30px;
            }

            .form-clt {

                input,
                textarea {
                    border: none;
                    color: $text-color;
                    padding: 13px 30px;
                    width: 100%;
                    border-radius: 10px;
                    background: $bg-color;
                    margin-bottom: 20px;
                    border: 1px solid #DDD;


                    &::placeholder {
                        color: $title-font;
                        font-family: $body-font;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                    }
                }

                &.nice-select {
                    border: none;
                    color: $text-color;
                    padding: 13px 30px;
                    width: 100%;
                    border-radius: 10px;
                    background: $bg-color;
                    margin-bottom: 20px;
                    border: 1px solid #DDD;
                    color: $title-font;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    &:focus{
                        box-shadow: 0;
                        outline: 0;
                    }
                }

                textarea {
                    height: 130px;
                    border-radius: 15px;
                    margin-bottom: 17px;

                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }
            }

            &-button-wrapper:hover .theme-btn{
                background-color: $title-color;
                color: $white !important;
                &:before {
                    transition-duration: 800ms;
                    position: absolute;
                    width: 210%;
                    height: 290%;
                    content: "";
                    top: 162%;
                    left: 50%;
                    background: $title-color;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%) rotate(-8deg);
                    border-radius: 80%;
                    z-index: -1;
                    color: $white;
                }
            }
        }


        &__thumb {
            position: relative;
            z-index: 3;

            @include breakpoint(max-xl) {
                display: none;
             }

            img {
                max-width: 100%;
            }
        }


        &__shape1 {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            @include breakpoint(max-sm) {
                display: none; 
           }
        }

        &__shape2 {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            display: none;
        }
    }
}