@use '../root' as *;
@use '../utilities' as *;

.contact1 {
    background-color: $theme-color;
    margin: -50px auto 0 auto;
    padding-top: 170px;
    position: relative;
    z-index: 1;
    max-width: 1840px;
    @include breakpoint(max-xl4) {
        margin: -50px 30px 0 30px;
    }
    @include breakpoint(max-xxl) {
        margin: -50px 0 0 0;
    }

    @include breakpoint(max-lg) {
       padding: 150px 80px 0 80px; 
    }

    @include breakpoint(max-md) {
       padding: 100px 40px 0 40px; 
    }

    @include breakpoint(max-sm) {
       padding: 100px 15px 0 15px; 
    }
    @include breakpoint(max-xxsmall) {
       padding: 100px 0px 0 0px; 
    }

    &-content {
        position: relative;
        margin-left: 0;

        .section-title {
            padding-bottom: 45px;
            &__subtitle {
                color: $title-color;

                &::before {
                    background-color: $title-color;
                }
            }

            &__title {
                color: $title-color;
            }

            &__text {
                color: $title-color;
            }

        }

        &-list {
            display: flex;
            justify-content: space-between;
            gap: 25px;
            margin-bottom: 45px;
            @include breakpoint(max-xxxl) {
                margin-bottom: 30px;
            }
            @include breakpoint(max-xxsmall) {
                gap: 16px;
                flex-wrap: wrap;
            }
            &__icon{
                height: 90px;
                width: 90px;
                border-radius: 4px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                flex-shrink: 0;
            }

            &-content{
                &__title{
                    color: $title-font;
                    font-family: $body-font;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 28px;
                    padding-bottom: 20px;
                    @include breakpoint(max-xxxl) {
                        padding-bottom: 10px;
                    }

                    @include breakpoint(max-xxsmall) {
                        font-size: 26px;
                    }
                }
                &__text{
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }

        &__thumb{
            padding-top: 9px;
            @include breakpoint(max-lg) {
                margin-bottom: 30px;
            }
            img{
                width: 100%;
                border-radius: 15px 15px 0 0;
            }
        }
    }

    &-input {
        position: relative;

        &__thumb {
            img {
                width: 100%;
            }

            @include breakpoint(max-md) {
        display: none;
            }
        }

        &__form {
            width: 454px;
            background-color: $white;
            border-radius: 15px 15px 0 0;
            position: absolute;
            left: 0;
            bottom: -1px;
            padding: 30px;
            text-align: center;

            @include breakpoint(max-xxxl) {
                width: 427px;
                padding: 20px;
            }

            @include breakpoint(max-md) {
        position: initial;
            }

            @include breakpoint(max-xxsmall) {
                width: 100%;
            }

            &-title {
                color: $title-color;
                font-family: $body-font;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 46px;
                padding-bottom: 30px;
            }

            .form-clt {

                input,
                textarea {
                    border: none;
                    color: $text-color;
                    padding: 13px 30px;
                    width: 100%;
                    border-radius: 10px;
                    background: $bg-color;
                    margin-bottom: 20px;
                    border: 1px solid #DDD;


                    &::placeholder {
                        color: $title-font;
                        font-family: $body-font;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                    }
                }

                textarea {
                    height: 130px;
                    border-radius: 15px;

                    &:focus {
                        outline: 0;
                        box-shadow: none;
                    }
                }
            }

            &-button-wrapper {
                .theme-btn {
                    width: 100%;
                }
            }
        }
    }
}