@use '../root' as *;
@use '../utilities' as *;


.cta2 {
    background-color: $bg-color;
    margin: 0 30px;
    position: relative;
    @include breakpoint(max-xl2) {
        margin: 0; 
        padding: 120px 30px;
     }

     @include breakpoint(max-lg) {
         padding: 80px 30px;       
     }

     @include breakpoint(max-xxsmall) {
        padding: 70px 0;
     }


     .container-1320 {
        @include breakpoint(max-xxsmall) {
            padding: 0;
        }
    }
    &-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $theme-color;
        border-radius: 15px;
        padding-left: 60px;
        position: relative;
        z-index: 3;
        @include breakpoint(max-lg) {
            padding: 60px;    
        }

        @include breakpoint(max-md) {
             padding: 30px 20px;   
        }
        @include breakpoint(max-xxsmall) {
             padding: 30px 12px;   
        }

        &-content {
            max-width: 626px;
           

            &__title {
                color: $title-color;
                font-family: $body-font;
                font-size: 52px;
                font-style: normal;
                font-weight: 700;
                line-height: 62px;
                padding-bottom: 30px;
                @include breakpoint(max-xl) {
                    font-size: 32px;
                    line-height: 42px;
                 }

                 @include breakpoint(max-sm) {
                    font-size: 24px; 
                    line-height: 32px;
               }
            }

            &__btn-wrapper {
                display: flex;
                align-items: center;
                gap: 24px;
                .theme-btn{
                    @include breakpoint(max-xl) {
                       padding: 14px 24px;
                     }
                    @include breakpoint(max-xxsmall) {
                       padding: 14px 18px;
                     }
                }

                @include breakpoint(max-sm) {
                    flex-wrap: wrap; 
                    gap: 12px;
               }
            }
        }

        &-thumb {
            max-width: 610px;
            @include breakpoint(max-lg) {
                display: none;
            }
            img {
                max-width: 100%;
            }
        }
    }

    &__shape{
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        img{
            max-width: 100%;
        }
    }
}