@use '../root' as *;
@use '../utilities' as *;

//  Top Header Section Start 
.header-top-area1 {
    background: $theme-color;

    .header-top-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 40px;

        @include breakpoint(max-xl) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

        @include breakpoint (max-md) {
            display: none;
        }

        &__text {
            color: $title-color;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .social-content {
            ul {
                display: flex;
                align-items: center;
                gap: 25px;

                li {
                    a {
                        color: $title-color;
                        font-family: $body-font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        span {
                            width: 20px;
                            height: 20px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}



.header-layout1 {
    margin: 0 0 20px 0;
    width: 100%;
    z-index: 999;
    border: none;

    .sticky-wrapper.sticky {
        background: $white;

        .global-header-menu-area {
            box-shadow: none;
            background-color: transparent;
            border: none;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
        }

        .global-header1-menu-area {
            border: none;
        }
    }

}


.global-header1 {
    &-menu-area {
        padding: 18px 30px 10px 30px;
        border-radius: 0;
        border: none;

        @include breakpoint(max-xl2) {
            padding: 10px 30px 10px 30px;
        }

        @include breakpoint(max-xxsmall) {
            padding: 18px 0 0 0;
        }

        &-main-menu {

            a {
                display: block;
                position: relative;
                color: $title-color;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;

                &:hover,
                &.active {
                    color: $green-color !important;
                }
            }

            &>ul>li {
                margin: 0 15px;

                @include breakpoint(max-xxl) {
                    margin: 9px;
                }

                &>a {
                    padding: 22px 0;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    display: inline-block;
                    position: relative;

                    &:last-child {
                        margin-right: 0 !important;
                    }

                    &:first-child {
                        margin-left: 0 !important;
                    }

                    &:hover {
                        &>ul {
                            &.sub-menu {
                                visibility: visible;
                                opacity: 1;
                                transform: scaleY(1);
                                z-index: 9;
                            }
                        }
                    }

                }

                .sub-menu {
                    position: absolute;
                    text-align: left;
                    top: 100%;
                    left: 0;
                    background-color: $white;
                    visibility: hidden;
                    min-width: 230px;
                    width: -moz-max-content;
                    width: max-content;
                    opacity: 0;
                    z-index: -1;
                    box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
                    border-radius: 10px;
                    transform: scaleY(0);
                    transform-origin: top center;
                    transition: all 0.4s ease 0s;
                    padding: 19px 11px 17px 11px;
                    left: -27px;

                    a {
                        font-size: 16px;
                        line-height: 30px;
                        color: $title-color;
                    }

                    li {
                        display: block;
                        margin: 0 0;
                        padding: 0px 9px;

                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }

                        &.menu-item-has-children {
                            &>a {
                                &:after {
                                    content: "\f105";
                                    top: 1px;
                                    display: inline-block;
                                    color: $title-color;
                                }

                                & :hover {
                                    &:after {
                                        content: "\f105";
                                        transform: rotate(180deg);
                                        -webkit-transform: rotate(180deg);
                                        -moz-transform: rotate(180deg);
                                        -ms-transform: rotate(180deg);
                                        -o-transform: rotate(180deg);
                                    }
                                }
                            }
                        }

                        a {
                            position: relative;
                            text-transform: capitalize;

                            &:before {
                                // content: "\f061";
                                position: absolute;
                                font-family: $icon-font;
                                top: 7px;
                                left: 0px;
                                text-align: center;
                                display: inline-block;
                                font-size: 15px;
                                line-height: 1;
                                color: $green-color;
                                font-weight: 400;
                                transition: 0.3s ease-in-out;
                                opacity: 0;
                            }


                            &.active {
                                color: $green-color;
                            }

                            &:hover {
                                color: $green-color;
                                padding-left: 15px;

                                &:before {
                                    visibility: visible;
                                    opacity: 1;
                                    left: 0;
                                }
                            }
                        }

                        ul {
                            &.sub-menu {
                                left: 100%;
                                right: auto;
                                top: 0;
                                margin: 0 0;
                                margin-left: 8px;

                                li {
                                    ul {
                                        left: 100%;
                                        right: auto;
                                    }
                                }
                            }
                        }

                    }
                }

            }

        }
    }

    &-header-button {
        display: flex;
        align-items: center;
        justify-content: end;

        .theme-btn {

            @include breakpoint(max-xl3) {
                padding: 15px 22px;
                gap: 8px;
                white-space: nowrap;
            }

        }
    }
}

// For mobail 
.global-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 999999;
    width: 0;
    width: 100%;
    height: 100%;
    transition: all ease 0.8s;
    opacity: 0;
    visibility: hidden;

    // Mobile Menu Logo
    .mobile-logo {
        padding-bottom: 30px;
        padding-top: 40px;
        display: block;
        text-align: center;
        background-color: $title-color;

        svg {
            max-width: 185px;
        }
    }

    // Menu Close Button
    .global-menu-toggle {
        border: none;
        font-size: 22px;
        position: absolute;
        right: -20px;
        top: 25px;
        padding: 0;
        line-height: 1;
        width: 33px;
        height: 33px;
        line-height: 36px;
        font-size: 18px;
        z-index: 1;
        color: $white;
        background-color: $theme-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: $title-color;
            color: $white;
        }
    }

    .global-menu-area {
        width: 100%;
        max-width: 310px;
        background-color: #fff;
        border-right: 3px solid $theme-color;
        height: 100%;
        position: relative;
        left: -110%;
        opacity: 0;
        visibility: hidden;
        transition: all ease 1s;
        z-index: 1;
    }

    &.global-body-visible {
        opacity: 1;
        visibility: visible;

        .global-menu-area {
            left: 0;
            opacity: 1;
            visibility: visible;
        }
    }
}

// Mobile Menu
.global-mobile-menu {
    overflow-y: scroll;
    max-height: calc(100vh - 200px);
    padding-bottom: 40px;
    margin-top: 33px;
    text-align: left;
    position: relative;
    z-index: 41;


    ul {
        margin: 0;
        padding: 0 0;

        li {
            border-bottom: 1px solid #fdedf1;
            list-style-type: none;

            li:first-child {
                border-top: 1px solid #fdedf1;
            }

            &.menu-item-has-children {
                position: relative;

                &:before {
                    opacity: 1;
                    visibility: visible;
                    position: absolute;
                    content: '\2b';
                    font-family: $icon-font;
                    position: absolute;
                    right: 0;
                    top: 12px;
                    margin-right: 10px;
                    display: inline-block;
                    color: $title-color;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;
                }

                &.global-active {
                    &:before {
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &:after {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    content: '-';
                    font-family: $icon-font;
                    right: 0;
                    top: 12px;
                    margin-right: 10px;
                    display: inline-block;
                    color: $title-color;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    font-size: 24px;
                }

                a {
                    padding-right: 18px;
                }
            }

            a {
                display: block;
                position: relative;
                padding: 12px 0;
                line-height: 1.4;
                font-size: 16px;
                text-transform: capitalize;
                color: $title-color;
            }

            &.global-active {
                >a {
                    color: $theme-color;

                    &:before {
                        transform: rotate(90deg);
                    }
                }
            }

            ul {
                li {
                    padding-left: 20px;

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }

        .global-item-has-children {
            >a {
                .global-mean-expand {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    font-weight: 400;
                    font-size: 12px;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    margin-top: -12.5px;
                    display: inline-block;
                    text-align: center;
                    background-color: $gray-color-1;
                    color: $title-color;
                    box-shadow: 0 0 20px -8px rgba(#ad8858, 0.5);
                    border-radius: 50%;

                    &:before {
                        content: '\f067';

                    }
                }

                &:after {
                    content: "\f067";
                    display: inline-block;
                    text-align: center;
                    font-size: 12px;
                    border-radius: 50px;
                    background-color: $gray-color-1;
                    float: right;
                    margin-top: 1px;
                }
            }

            &.global-active {
                >a {
                    .global-mean-expand:before {
                        content: '\f068';
                    }

                    &:after {
                        content: "\f068";
                    }
                }
            }
        }
    }

    >ul {
        padding: 0 40px;

        >li {
            &:last-child {
                border-bottom: none;
            }
        }
    }

    /***scroll-bar***/
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(252, 0, 18, 0.1);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $theme-color;
        background-image: -webkit-linear-gradient(45deg,
                rgba(255, 255, 255, 0.3) 25%,
                transparent 20%,
                transparent 50%,
                rgba(255, 255, 255, 0.3) 50%,
                rgba(255, 255, 255, 0.3) 75%,
                transparent 75%,
                transparent);
    }
}

.global-menu-toggle {
    width: 40px;
    height: 50px;
    padding: 0;
    font-size: 20px;
    line-height: 52px;
    border: none;
    background-color: $theme-color;
    color: $white;
    display: inline-block;
    border-radius: 0px;
    text-align: end;

    &:hover {
        background-color: $white;
    }

    &.style-text,
    &.style-text-white {
        width: auto;
        height: auto;
        background-color: transparent;
        color: $title-color;
        font-size: 20px;

        i {
            margin-right: 10px;
        }
    }

    &.style-text-white {
        color: $white;
    }

    @include breakpoint (max-xl) {
        background-color: transparent;
    }
}


@media (max-width: 400px) {
    .global-menu-wrapper .global-menu-area {
        width: 100%;
        max-width: 270px;
    }

    .global-mobile-menu>ul {
        padding: 0 20px;
    }
}


.sticky-wrapper {
    transition: 0.4s ease-in-out;
    position: absolute;
    left: 6%;
    right: 6%;
    z-index: 999;

    &.sticky {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: $white;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.07));
        animation: stickyAni 0.4s ease-in-out;
        z-index: 999;

        .theme-btn.style2 {
            border: 1px solid $theme-color;
            color: $title-color;
        }

        .global-header1-menu-area {
            @include breakpoint(max-xxsmall) {
                padding: 18px 10px 10px 10px;
            }
        }



    }
}

// membergar menu 
.sidebar-btn {
    .line {
        display: block;
        height: 2px;
        width: 20px;
        background: $theme-color;
        margin: auto;
        transition: 0.4s;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &:nth-child(2) {
            width: 20px;
        }
    }

    &:hover {
        .line {
            &:nth-child(2) {
                width: 32px;
            }
        }
    }


}