
@use '../root' as *;
@use '../utilities' as *;


//  Top Header Section Start 
.header-top-area {
    background: $theme-color;
    position: relative;

    .header-top-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0px;
        @include breakpoint(max-xxl) {
            padding: 14px 50px;
         }

        @include breakpoint(max-xl) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }

        @include breakpoint (max-md) {
            display: none;
        }

        &__text {
            color: $title-color;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .social-content {
            @include breakpoint(max-xl) {
                display: none;
             }
            ul {
                display: flex;
                align-items: center;
                gap: 25px;

                li {
                    a {
                        color: $title-color;
                        font-family: $body-font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        span {
                            width: 20px;
                            height: 20px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.header-top-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 56px 56px 0 0; 
    border-color: white transparent transparent transparent;
    transform: rotate(-90deg);
    @include breakpoint(max-md) {
        display: none;        
    }
}
.header-top-area::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 56px 56px 0 0; 
    border-color:transparent white transparent transparent ;
    @include breakpoint(max-md) {
        display: none;        
    }
}



.header-layout2 {
    margin: 0 0 20px 0;
    width: 100%;
    z-index: 999;
    border: none;

    .sticky-wrapper.sticky {
        background: $white;

        .global-header-menu-area {
            box-shadow: none;
            background-color: transparent;
            border: none;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;
        }

        .global-header1-menu-area {
            border: none;
        }
    }

    .sticky-wrapper {
        transition: 0.4s ease-in-out;
        position: initial;
        left: 6%;
        right: 6%;
        z-index: 999;
    
        &.sticky {
            position: fixed;
            top: 0px;
            right: 0;
            left: 0;
            background-color: $white;
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.07));
            animation: stickyAni 0.4s ease-in-out;
            z-index: 999;
    
            .theme-btn.style2 {
                border: 1px solid $theme-color;
                color: $title-color;
            }

            .global-header2{
                &-menu-area {
                    padding: 18px 20px 10px 20px;
                    @include breakpoint(max-xxsmall) {
                        // padding: 20px 10px 10px 10px;
                    }
                } 
            }
        
        }
    }

}


.global-header2 {
    &-menu-area {
        padding: 18px 0px 0px 0px;
        border-radius: 0;
        border: none;

        @include breakpoint(max-xxl) {
            padding: 18px 30px 0 30px;
         }

        @include breakpoint(max-xxsmall) {
        padding: 18px 12px 0 10px;
        }

        &-main-menu {

            a {
                display: block;
                position: relative;
                color: $title-color;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;

                &:hover,
                &.active {
                    color: $green-color !important;
                }
            }

            &>ul>li {
                margin: 0 15px;
                @include breakpoint(max-xxl) {
                    margin: 9px;
                }

                &>a {
                    padding: 22px 0;
                    @include breakpoint(max-xxl) {
                        padding: 8px 0;
                     }

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style-type: none;
                    display: inline-block;
                    position: relative;

                    &:last-child {
                        margin-right: 0 !important;
                    }

                    &:first-child {
                        margin-left: 0 !important;
                    }

                    &:hover {
                        &>ul {
                            &.sub-menu {
                                visibility: visible;
                                opacity: 1;
                                transform: scaleY(1);
                                z-index: 9;
                            }
                        }
                    }

                }

                .sub-menu {
                    position: absolute;
                    text-align: left;
                    top: 100%;
                    left: 0;
                    background-color: $white;
                    visibility: hidden;
                    min-width: 230px;
                    width: -moz-max-content;
                    width: max-content;
                    opacity: 0;
                    z-index: -1;
                    box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
                    border-radius: 10px;
                    transform: scaleY(0);
                    transform-origin: top center;
                    transition: all 0.4s ease 0s;
                    padding: 19px 11px 17px 11px;
                    left: -27px;

                    a {
                        font-size: 16px;
                        line-height: 30px;
                        color: $title-color;
                    }

                    li {
                        display: block;
                        margin: 0 0;
                        padding: 0px 9px;

                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }

                        &.menu-item-has-children {
                            &>a {
                                &:after {
                                    content: "\f105";
                                    top: 1px;
                                    display: inline-block;
                                    color: $title-color;
                                }

                                & :hover {
                                    &:after {
                                        content: "\f105";
                                        transform: rotate(180deg);
                                        -webkit-transform: rotate(180deg);
                                        -moz-transform: rotate(180deg);
                                        -ms-transform: rotate(180deg);
                                        -o-transform: rotate(180deg);
                                    }
                                }
                            }
                        }

                        a {
                            position: relative;
                            text-transform: capitalize;

                            &:before {
                                // content: "\f83e";
                                position: absolute;
                                font-family: $icon-font;
                                top: 7px;
                                left: 0px;
                                text-align: center;
                                display: inline-block;
                                font-size: 15px;
                                line-height: 1;
                                color: $green-color;
                                font-weight: 400;
                                transition: 0.3s ease-in-out;
                                opacity: 0;
                            }


                            &.active {
                                color: $green-color;
                            }

                            &:hover {
                                color: $green-color;
                                padding-left: 15px;

                                &:before {
                                    visibility: visible;
                                    opacity: 1;
                                    left: 0;
                                }
                            }
                        }

                        ul {
                            &.sub-menu {
                                left: 100%;
                                right: auto;
                                top: 0;
                                margin: 0 0;
                                margin-left: 8px;

                                li {
                                    ul {
                                        left: 100%;
                                        right: auto;
                                    }
                                }
                            }
                        }

                    }
                }

            }

        }
    }

    &-header-button {
        display: flex;
        align-items: center;
        justify-content: end;

        .theme-btn {

            @include breakpoint(max-xl3) {
                padding: 15px 22px;
                gap: 8px;
                white-space: nowrap;
            }

        }
    }
}