@use '../root' as *;
@use '../utilities' as *;


.project1 {
    @include breakpoint(max-lg) {
        padding: 80px; 
      }

      @include breakpoint(max-md) {
        padding: 80px 40px;
      }

      @include breakpoint(max-sm) {
        padding: 80px 15px;
      }
      @include breakpoint(max-xxsmall) {
        padding: 80px 0px;
      }
    &-card {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;

        @include breakpoint(max-xl) {
           margin-bottom: 30px;
         }

        &__thumb {
          width: 100%;
          height: 100%;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-content {
            text-align: center;
            background-color: $white;
            display: inline-block;
            width: 78%;
            padding-top: 30px;
            position: absolute;
            bottom: 0;
            border-radius: 15px 15px 0 0;
            left: 11%;
            opacity: 0;
            visibility: hidden;
            transform: translateY(20px);
            transition: 0.3s all ease-in-out;
            @include breakpoint(max-xxxl) {
               padding-top: 16px;
             }
            @include breakpoint(max-xxl) {
              width: 100%;
              left: 0;
             }

            &__subtitle {
                color: $title-color;
                font-family: $body-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                padding-bottom: 10px;
            }

            &__title {
                color: $title-color;
                font-family: $body-font;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 34px;
            }
        }
        &:hover &-content{
          opacity: 1;
          visibility: visible; 
          transform: translateY(0);
        }
    }
}