@use '../root' as *;
@use '../utilities' as *;


.testimonial2 {
    background-color: $green-color;
    padding: 160px 0 120px 0;
    position: relative;
    margin: 0 30px;
    border-radius: 15px;

    @include breakpoint(max-xl2) {
        padding: 160px 30px 120px 30px;
        margin: 0;
    }

    @include breakpoint(max-xxsmall) {
        padding: 70px 0px;
     }

    .section-title {
        &__subtitle {
            color: $white;

            &::before {
                background-color: $white;
            }
        }

        &__title {
            color: $white;
        }

    }

    .swiper-arrow {
        display: flex;
        justify-content: end;
        gap: 20px;
        padding-right: 140px;
        position: relative;
        z-index: 3;

        @include breakpoint(max-lg) {
           padding-right: 0;     
        }

        @include breakpoint(max-md) {
            display: none;
        }

        .swiper-nav {
            width: 100px;
            height: 56px;
            border-radius: 90px;
            line-height: 1px;
            background-color: $white;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.4s all ease-in-out;

            .svg-img {
                filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
            }

            &:hover {
                background-color: $theme-color;
            }
        }
    }

    &__shape {
        position: absolute;
        right: 0;
        top: 0;
    }

    &-content {
        position: relative;
        z-index: 3;
        margin-top: 60px;
    }

    &-card {
        background-color: $white;
        border-radius: 15px;
        padding: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 45px;

        @include breakpoint(max-xxl) {
            gap: 24px;
            padding: 30px;
         }

         @include breakpoint(max-md) {
              padding: 30px 20px;  
         }

         @include breakpoint(max-sm) {
            flex-wrap: wrap;
            gap: 16px;
       }

        &__thumb {
            width: 100%;

            img {
                width: 100%;
            }
        }

        &-content {
            &__quote {
                padding-bottom: 30px;
                @include breakpoint(max-md) {
                padding-bottom: 16px;
                }

                @include breakpoint(max-sm) {
                    display: none;
               }
            }

            &__text {
                color: $title-color;
                font-family: $body-font;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                padding-bottom: 30px;
                @include breakpoint(max-md) {
                font-size: 16px;
                line-height: 24px;
                padding-bottom: 16px;
                }
            }

            &__auth {
                &-name {
                    color: $title-color;
                    font-family: $body-font;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                }

                &-title {
                    color: $text-color;
                    font-family: $body-font;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
        }
    }
}