@use '../root' as *;
@use '../utilities' as *;

.testimonial1{
    margin: 0 30px;
    padding: 147px 0;
    position: relative;
    z-index: 3;
    @include breakpoint(max-xxl) {
       margin: 0;
    }

    @include breakpoint(max-lg) {
      padding: 100px 80px; 
      background-color: $green-color; 
    }

    @include breakpoint(max-md) {
      padding: 100px 40px 80px 40px;  
    }

    @include breakpoint(max-sm) {
      padding: 100px 15px 80px 15px;  
    }

    @include breakpoint(max-xxsmall) {
      padding-left: 0;
      padding-right: 0;
    }

    .section-title {
        margin-top: -40px;
        &__subtitle {
          color: $white;
          &::before{
            background-color: $white;
          }
        }
      
        &__title {
          color: $white;
        }
      
      }
    .swiper-arrow {
        display: flex;
        justify-content: end;
        gap: 20px;

        @include breakpoint(max-md) {
            display: none;
        }

        .swiper-nav {
            width: 100px;
            height: 56px;
            border-radius: 90px;
            line-height: 1px;
            background-color: $white;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.4s all ease-in-out;

            .svg-img {
                filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
            }

            &:hover {
                background-color: $theme-color;
            }
        }
    }

    &__thumb{
        img{
            margin-top: 36px;
            margin-left: -123px;
            @include breakpoint(max-xxxl) {
                margin-top: 30px;
                margin-left: 0;
                width: 100%;
            }

            @include breakpoint(max-xl) {
                margin-top: 0;
                margin-left: -20px;
             }

             @include breakpoint(max-lg) {
        display: none;
             }
        }
    }

    &-card{
        margin-left: 70px;
        @include breakpoint(max-xxxl) {
            margin-left: 30px;
        }
        @include breakpoint(max-lg) {
        margin-left: 0;
        }
        &__text{
            color: $white;
            font-family: $body-font;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px;
            padding-bottom: 30px;
            @include breakpoint(max-xxxl) {
                font-size: 26px;
                line-height: 36px;
                padding-bottom: 20px;
             }

             @include breakpoint(max-xl) {
                font-size: 22px;
                line-height: 30px;
                padding-bottom: 16px;
             }

             @include breakpoint(max-xxsmall) {
                font-size: 20px;
                font-weight: 400;
                line-height: 26px;
            }
        }
        &__user{
            color: $white;
            font-family: $body-font;
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            @include breakpoint(max-xxsmall) {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    &-achivement{
        margin-left: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;
        padding-top: 293px;
        @include breakpoint(max-xxxl) {
            margin-left: 30px;
            padding-top: 100px;
        }
        @include breakpoint(max-xxl) {
            gap: 60px;
            padding-top: 60px;
        }

        @include breakpoint(max-lg) {
        margin-left: 0;
        }
        @include breakpoint(max-md) {
        gap: 36px;
        }

        @include breakpoint(max-sm) {
        gap: 20px;
        flex-wrap: wrap;
        }
        
        &-card{
            border-top: 1px solid $white;
            &__count{
                color: $white;
                font-family: $body-font;
                font-size: 42px;
                font-style: normal;
                font-weight: 700;
                line-height: 52px;
                padding: 30px 0 25px 0;
                @include breakpoint(max-xxxl) {
                    padding: 20px 0 15px 0;
                 }

                 @include breakpoint(max-xl) {
                    padding: 10px 0 5px 0;
                 }

                 @include breakpoint(max-xxsmall) {
                    font-size: 36px;
                    line-height: 42px;
                }
            }
            &__title{
                color: $white;
                font-family: $body-font;
                font-size: 30px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                padding-bottom: 25px;
                @include breakpoint(max-xxxl) {
                    padding-bottom: 18px;
                 }
                 @include breakpoint(max-xl) {
                    padding-bottom: 10px;
                 }

                 @include breakpoint(max-xxsmall) {
                    font-size: 26px;
                }
            }
            &__text{
                color: $white;
                font-family: $body-font;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
            }
        }
    }
}