@use '../../root' as *;
@use '../../utilities' as *;

.breadcrumb-wrapper{
    padding: 154px 0 234px 0;
    margin: 0 30px;
    position: relative;
    @include breakpoint(max-lg) {
        margin: 0;
        padding: 100px 0 180px 0;
     }
    &__title{
        color: $white;
        text-align: center;
        font-family: $body-font;
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 82px;
        @include breakpoint(max-md) {
           font-size: 52px;
           line-height: 52px;
          }
        @include breakpoint(max-md) {
           font-size: 36px;
           line-height: 44px;
          }
    }

    &-list{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: absolute;
        bottom: 22px;
        left: 50%;
        transform: translateX(-50%);
        @include breakpoint(max-xl) {
           bottom: 16px;
         }

         @include breakpoint(max-md) {
            gap: 10px;
           }

           @include breakpoint(max-xxsmall) {
           left: 20%;
           right: 20%;
           transform: translateX(0);
          }
        &__item{
            color: $title-color;
            font-family: $body-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px;
            &.active{
                color: $green-color;
            }

            @include breakpoint(max-xs) {
                font-size: 18px;
               }
            @include breakpoint(max-xxsmall) {
                font-size: 16px;
               }
        }
    }
}