@use '../../root' as *;
@use '../../utilities' as *;


.marquee1 {
    margin-top: -100px;
    position: relative;
    z-index: 9;

    &-scrolling {
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        gap: 40px;
        position: relative;
        background-color: $theme-color;
        padding: 30px 0;
        margin: 0 auto;
        border-radius: 0 0 15px 15px;
        max-width: 1854px;

        @include breakpoint(max-xl4) {
           margin: 0 30px;
        }
        @include breakpoint(max-md) {
            padding: 26px 0;
            margin: 0;
            border-radius: 0;
        }

        &__item {
            display: flex;
            align-items: center;
            animation: scroll 60s linear infinite;
            gap: 35px;
            cursor: pointer;

            &-icon {}

            &-text {
                color: $title-color;
                font-family: $body-font;
                font-size: 42px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px;

                @include breakpoint(max-md) {
                    font-size: 36px;
                    line-height: 50px;
                    letter-spacing: 0.1px;
                }
            }

        }
    }

    &.style2 {
        margin-top: -120px;

        @include breakpoint(max-xl4) {
            .marquee1-scrolling{
                margin: 0;
                max-width: 100%;
            }
        }
        @include breakpoint(max-xl3) {
            .marquee1-scrolling{
                margin: 0 15px;
                max-width: 100%;
            }
        }
        @include breakpoint(max-lg) {
            .marquee1-scrolling{
                margin: 0 95px;
            }
        }
        @include breakpoint(max-lg) {
            .marquee1-scrolling{
                margin: 0 95px;
            }
        }
        @include breakpoint(max-md) {
            .marquee1-scrolling{
                margin: 0 55px;
            }
        }
        @include breakpoint(max-sm) {
            .marquee1-scrolling{
                margin: 0 30px;
            }
        }
        @include breakpoint(max-xxsmall) {
            .marquee1-scrolling{
                margin: 0 15px;
            }
        }
    }
}

// Marquee 2 
.marquee2 {
    position: relative;
    z-index: 9;

    &-scrolling {
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        gap: 40px;
        position: relative;
        background-color: $theme-color;
        padding: 30px 0;

        @include breakpoint(max-md) {
            padding: 26px 0;
            margin: 0;
            border-radius: 0;
        }

        &__item {
            display: flex;
            align-items: center;
            animation: scroll 60s linear infinite;
            gap: 35px;
            cursor: pointer;

            &-icon {}

            &-text {
                color: $title-color;
                font-family: $body-font;
                font-size: 42px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px;

                @include breakpoint(max-md) {
                    font-size: 36px;
                    line-height: 50px;
                    letter-spacing: 0.1px;
                }
            }

        }
    }
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}