@use '../../root' as *;
@use '../../utilities' as *;

$transition: all 0.3s ease-in-out;
$transition-long: all 0.9s ease-in-out;
$search-overlay-bg1: rgba(0, 0, 0, 0.5);
$search-overlay-bg2: rgba(0, 0, 0, 0.4);
$search-overlay-bg3: rgba(0, 0, 0, 0.7);

.search-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  overflow: hidden;

  &.search-overlay-active {
    opacity: 1;
    visibility: visible;

    .search-overlay-layer {
      transform: translateX(0);
    }

    .search-overlay-close {
      opacity: 1;
      visibility: visible;
    }

    .search-overlay-form {
      opacity: 1;
      visibility: visible;
    }
  }

  .search-overlay-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: translateX(100%);

    &:nth-child(1) {
      left: 0;
      background-color: $search-overlay-bg1;
      transition: $transition 0s;
    }

    &:nth-child(2) {
      left: 0;
      background-color: $search-overlay-bg2;
      transition: $transition 0.3s;
    }

    &:nth-child(3) {
      left: 0;
      background-color: $search-overlay-bg3;
      transition: $transition-long 0.6s;
    }
  }

  .search-overlay-close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 50px;
    z-index: 2;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    transition: $transition-long 1.5s;
    opacity: 0;
    visibility: hidden;

    .search-overlay-close-line {
      width: 100%;
      height: 3px;
      float: left;
      margin-bottom: 5px;
      background-color: #fff;
      transition: all 500ms ease;

      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        margin-top: -7px;
        transform: rotate(-45deg);
      }

      &:hover {
        background: #fff;
        transform: rotate(180deg);
      }
    }
  }

  .search-overlay-form {
    transition: $transition-long 1.4s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
    max-width: 500px;
    width: 500px;

    form {
      position: relative;

      .input-search {
        display: block;
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 30px;
        color: var(--paragraph-color);
        padding: 0 0 0 25px;
        font-weight: 500;
        outline: 0;

        &::placeholder {
          transition: var(--transition);
          letter-spacing: 0.5px;
          color: var(--paragraph-color);
        }

        &:focus {
          &::placeholder {
            color: transparent;
          }
        }
      }

      button {
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 50px;
        color: #fff;
        height: 50px;
        border-radius: 50%;
        background-color: #000;
        transition: var(--transition);
        border: none;
        font-size: 20px;
        line-height: 50px;

        &:hover {
          background-color: $theme-color;
          color: #fff;
        }
      }
    }
  }
}
