@use '../root' as *;


/*----------------------------------------------
    # Buttons style here
----------------------------------------------*/

.theme-btn {
    &.style1 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        position: relative;
        z-index: 1;
        height: 56px;
        overflow: hidden;
        color: $white;
        font-family: $body-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 10px;
        background: $green-color;
        padding: 15px 35px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        
        @include breakpoint(max-xxsmall) {
            padding: 15px 30px;
        }


        a {
            color: $white !important;
            display: inline-block;
        }

        i {
            margin-left: 6px;
        }

        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $theme-color;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }

        &:hover {
            color: $title-color!important;

            &.gt-btn-icon-1 {
                &::after {
                    color: $theme-color;
                }
            }

            &:before {
                top: -96%;
            }
        }
    }
    &.style2 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        position: relative;
        z-index: 1;
        height: 56px;
        overflow: hidden;
        color: $title-color;
        font-family: $body-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 10px;
        background: $theme-color;
        padding: 15px 35px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;

        a {
            color: $white !important;
            display: inline-block;
        }

        i {
            margin-left: 6px;
        }

        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $green-color;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }

        &:hover {
            color: $white!important;

            &.gt-btn-icon-1 {
                &::after {
                    color: $theme-color;
                }
            }

            &:before {
                top: -96%;
            }
        }
    }

   

    &.style3 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        color: $title-color;
        height: 56px;
        font-size: 18px;
        font-family: $body-font;
        text-transform: capitalize;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        border-radius: 10px;
        background: $white;
        padding: 15px 35px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;

        a {
            color: $title-color !important;
            display: inline-block;
        }


        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $green-color;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }

        &:hover {
            color: $white !important;

            &:before {
                top: -96%;
            }
        }
    }
    &.style4 {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        color: $white;
        height: 56px;
        font-size: 18px;
        font-family: $body-font;
        text-transform: capitalize;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        border-radius: 10px;
        background: $title-color;
        padding: 15px 35px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;

        a {
            color: $white !important;
            display: inline-block;
        }


        &:before {
            transition-duration: 800ms;
            position: absolute;
            width: 210%;
            height: 290%;
            content: "";
            top: 162%;
            left: 50%;
            background: $green-color;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%) rotate(-8deg);
            border-radius: 80%;
            z-index: -1;
        }

        &:hover {
            color: $white !important;

            &:before {
                top: -96%;
            }
        }
    }

}