@use '../root' as *;


/*----------------------------------------------
    # Helping  style here
----------------------------------------------*/
//page scroll bar add
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $theme-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-color;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt {
  position: relative;
}

//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    -webkit-animation: rippleOne 3s infinite;
    animation: rippleOne 3s infinite;
  }

  &::before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &::after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

//Video Css End


// Spacing

// ==============
.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;

  @include breakpoint(max-md) {
    margin-top: 30px;
  }
}

.mb-50 {
  margin-bottom: 50px;

  @include breakpoint(max-md) {
    margin-bottom: 30px;
  }
}

.mb-60 {
  margin-bottom: 60px;

  @include breakpoint(max-md) {
    margin-bottom: 40px;    
  }
}

.ps40 {
  padding-left: 40px;
}



// ==============
.section-padding {
  padding: 80px 0px;

  @include breakpoint (lg) {
    padding: 120px 0px;
  }
}


// Color
.bg-color1 {
  background-color: $bg-color;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1900px){
    background-size: contain;
  }
}

.section-title {

  &__subtitle {
    color: $green-color;
    font-family: $body-font;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding-left: 24px;
    position: relative;
    margin-bottom: 28px;
    display: inline-block;
    @include breakpoint(max-xxxl) {
      margin-bottom: 20px;
   }

   @include breakpoint(max-xxsmall) {
    margin-bottom: 10px;
  }
    &::before{
      position: absolute;
      left: 0;
      top: 50%;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      transform: translateY(-50%);
      content: "";
      background-color: $green-color;
    }
  }

  &__title {
    color: $title-color;
    font-family: $body-font;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px;

    @include breakpoint(max-xxxl) {
     font-size: 46px;
     line-height: 52px;
  }

    @include breakpoint(max-xl) {
      font-size: 36px;
      line-height: 42px;

      br {
        display: none;
      }
    }

    @include breakpoint(max-sm) {
      font-size: 26px;
      line-height: 36px;
    }

    .theme-text {
      color: $theme-color;
    }

    @include breakpoint(max-md) {
      font-size: 34px;
      line-height: 44px;
      letter-spacing: 0.1px;

      br {
        display: none;
      }
    }

    @include breakpoint(max-xs) {
      font-size: 24px;
      line-height: 34px;
      letter-spacing: 0.1px;
    }

    @include breakpoint(max-xxsmall) {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__text {
    color: $text-color;
    font-family: $body-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 28px;
    @include breakpoint(max-xxxl) {
     padding-top: 20px;
   }
  }

}

input:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  border-color: $theme-color;
  outline: 0;
  box-shadow: none !important;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;

  @include breakpoint(max-xxsmall) {
    margin-top: 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 50%;
    text-decoration: none;
    border-radius: 999px;
    background: $bg-color;
    width: 60px;
    height: 60px;
    color: $title-color;
    font-family: $title-font;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.64px;

    @include breakpoint(max-xxsmall) {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }

    i {
      color: $theme-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }

    &.active {
      background: $theme-color;
      color: $white;
    }

    &:hover {
      background: $theme-color;
      color: $white !important;

      i {
        color: $white !important;
      }
    }
  }
}

.bg-mask {
  mask-size: cover;
  mask-position: center;
  background-size: cover;
  background-position: center;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
}

.bg-color1 {
  background-color: $bg-color!important;
}